// SPDX-License-Identifier: (GPL-2.0+ OR MIT)
/*
 * Copyright (c) 2024 MYIR Electronics Co., Ltd.
 *
 */

/ {
	vcc_camera1: vcc-camera1 {
		compatible = "regulator-fixed";
		regulator-name = "vcc_camera1";
		regulator-boot-on;
		regulator-always-on;
		regulator-min-microvolt = <3300000>;
		regulator-max-microvolt = <3300000>;
		enable-active-high;
		gpio = <&gpio3 RK_PC5 GPIO_ACTIVE_HIGH>;
		pinctrl-names = "default";
		pinctrl-0 = <&camera1_pwr>;
		vin-supply = <&vcc_sys>;
	};

	clk_camera1_fixed: clock {
		compatible = "fixed-clock";
		#clock-cells = <0>;
		clock-frequency = <24000000>;
		clock-output-names = "CLK_CAMERA1_24MHZ";
	};

	vcc_camera2: vcc-camera2 {
		compatible = "regulator-fixed";
		regulator-name = "vcc_camera2";
		regulator-boot-on;
		regulator-always-on;
		regulator-min-microvolt = <3300000>;
		regulator-max-microvolt = <3300000>;
		enable-active-high;
		gpio = <&gpio3 RK_PA2 GPIO_ACTIVE_HIGH>;
		pinctrl-names = "default";
		pinctrl-0 = <&camera2_pwr>;
		vin-supply = <&vcc_sys>;
	};

	clk_camera2_fixed: clock {
		compatible = "fixed-clock";
		#clock-cells = <0>;
		clock-frequency = <24000000>;
		clock-output-names = "CLK_CAMERA2_24MHZ";
	};

	vcc_camera3: vcc-camera3 {
		compatible = "regulator-fixed";
		regulator-name = "vcc_camera3";
		regulator-boot-on;
		regulator-always-on;
		regulator-min-microvolt = <3300000>;
		regulator-max-microvolt = <3300000>;
		enable-active-high;
		gpio = <&gpio3 RK_PD0 GPIO_ACTIVE_HIGH>;
		pinctrl-names = "default";
		pinctrl-0 = <&camera3_pwr>;
		vin-supply = <&vcc_sys>;
	};

	clk_camera3_fixed: clock {
		compatible = "fixed-clock";
		#clock-cells = <0>;
		clock-frequency = <24000000>;
		clock-output-names = "CLK_CAMERA3_24MHZ";
	};
};

&csi2_dcphy0 {
	status = "okay";

	ports {
		#address-cells = <1>;
		#size-cells = <0>;
		port@0 {
			reg = <0>;
			#address-cells = <1>;
			#size-cells = <0>;

			mipi_dcphy0_in_n4: endpoint@1 {
				reg = <1>;
				remote-endpoint = <&n4_out1>;
				data-lanes = <1 2 3 4>;
			};
		};
		port@1 {
			reg = <1>;
			#address-cells = <1>;
			#size-cells = <0>;

			csidcphy0_out: endpoint@0 {
				reg = <0>;
				remote-endpoint = <&mipi0_csi2_input>;
			};
		};
	};
};

&csi2_dphy0 {
	status = "okay";

	ports {
		#address-cells = <1>;
		#size-cells = <0>;
		port@0 {
			reg = <0>;
			#address-cells = <1>;
			#size-cells = <0>;

			mipi_dphy0_in_n4: endpoint@1 {
				reg = <1>;
				remote-endpoint = <&n4_out2>;
				data-lanes = <1 2 3 4>;
			};
		};
		port@1 {
			reg = <1>;
			#address-cells = <1>;
			#size-cells = <0>;

			csidphy0_out: endpoint@0 {
				reg = <0>;
				remote-endpoint = <&mipi1_csi2_input>;
			};
		};
	};
};

&csi2_dphy3 {
	status = "okay";

	ports {
		#address-cells = <1>;
		#size-cells = <0>;
		port@0 {
			reg = <0>;
			#address-cells = <1>;
			#size-cells = <0>;

			mipi_dphy3_in_n4: endpoint@1 {
				reg = <1>;
				remote-endpoint = <&n4_out3>;
				data-lanes = <1 2 3 4>;
			};
		};
		port@1 {
			reg = <1>;
			#address-cells = <1>;
			#size-cells = <0>;

			csidphy3_out: endpoint@0 {
				reg = <0>;
				remote-endpoint = <&mipi3_csi2_input>;
			};
		};
	};
};

&csi2_dphy0_hw {
	status = "okay";
};

&csi2_dphy1_hw {
	status = "okay";
};

&i2c4 {
	status = "okay";
	pinctrl-names = "default";
	pinctrl-0 = <&i2c4m3_xfer>;

	jaguar_2: jaguar-2@31 {
		status = "okay";
		compatible = "jaguar2-v4l2";
		reg = <0x31>;
		clocks = <&clk_camera2_fixed>;
		clock-names = "xvclk";
		clock-frequency = <24000000>;
		power-domains = <&power RK3576_PD_VI>;
		pinctrl-names = "default";
		pinctrl-0 = <&camera2_default_pins>;
		rst-gpios = <&gpio3 RK_PD4 GPIO_ACTIVE_HIGH>;
		pwd-gpios = <&gpio3 RK_PD5 GPIO_ACTIVE_HIGH>;
		rockchip,camera-module-index = <0>;
		rockchip,camera-module-facing = "back";
		rockchip,camera-module-name = "default";
		rockchip,camera-module-lens-name = "default";
		rockchip,default_rect= <1920 1080>; // default resolution
		port {
			n4_out2: endpoint {
				remote-endpoint = <&mipi_dphy0_in_n4>;
				data-lanes = <1 2 3 4>;
			};
		};
	};
};

&i2c5 {
	status = "okay";
	pinctrl-names = "default";
	pinctrl-0 = <&i2c5m3_xfer>;

	jaguar_1: jaguar-1@31 {
		status = "okay";
		compatible = "jaguar1-v4l2";
		reg = <0x31>;
		clocks = <&clk_camera1_fixed>;
		clock-names = "xvclk";
		clock-frequency = <24000000>;
		power-domains = <&power RK3576_PD_VI>;
		pinctrl-names = "default";
		pinctrl-0 = <&camera1_default_pins>;
		rst-gpios = <&gpio3 RK_PC6 GPIO_ACTIVE_HIGH>;
		pwd-gpios = <&gpio3 RK_PC7 GPIO_ACTIVE_HIGH>;
		rockchip,camera-module-index = <0>;
		rockchip,camera-module-facing = "back";
		rockchip,camera-module-name = "default";
		rockchip,camera-module-lens-name = "default";
		rockchip,default_rect= <1920 1080>; // default resolution
		port {
			n4_out1: endpoint {
				remote-endpoint = <&mipi_dcphy0_in_n4>;
				data-lanes = <1 2 3 4>;
			};
		};
	};
};

&i2c8 {
	status = "okay";
	pinctrl-names = "default";
	pinctrl-0 = <&i2c8m2_xfer>;

	jaguar_3: jaguar-3@31 {
		status = "okay";
		compatible = "jaguar3-v4l2";
		reg = <0x31>;
		clocks = <&clk_camera3_fixed>;
		clock-names = "xvclk";
		clock-frequency = <24000000>;
		power-domains = <&power RK3576_PD_VI>;
		pinctrl-names = "default";
		pinctrl-0 = <&camera3_default_pins>;
		rst-gpios = <&gpio3 RK_PD6 GPIO_ACTIVE_HIGH>;
		pwd-gpios = <&gpio3 RK_PD7 GPIO_ACTIVE_HIGH>;
		rockchip,camera-module-index = <0>;
		rockchip,camera-module-facing = "back";
		rockchip,camera-module-name = "default";
		rockchip,camera-module-lens-name = "default";
		rockchip,default_rect= <1920 1080>; // default resolution

		port {
			n4_out3: endpoint {
				remote-endpoint = <&mipi_dphy3_in_n4>;
				data-lanes = <1 2 3 4>;
			};
		};
	};
};

&mipi0_csi2 {
	status = "okay";

	ports {
		#address-cells = <1>;
		#size-cells = <0>;

		port@0 {
			reg = <0>;
			#address-cells = <1>;
			#size-cells = <0>;

			mipi0_csi2_input: endpoint@1 {
				reg = <1>;
				remote-endpoint = <&csidcphy0_out>;
			};
		};

		port@1 {
			reg = <1>;
			#address-cells = <1>;
			#size-cells = <0>;

			mipi0_csi2_output: endpoint@0 {
				reg = <0>;
				remote-endpoint = <&cif_mipi_in0>;
			};
		};
	};
};

&mipi1_csi2 {
	status = "okay";

	ports {
		#address-cells = <1>;
		#size-cells = <0>;

		port@0 {
			reg = <0>;
			#address-cells = <1>;
			#size-cells = <0>;

			mipi1_csi2_input: endpoint@1 {
				reg = <1>;
				remote-endpoint = <&csidphy0_out>;
			};
		};

		port@1 {
			reg = <1>;
			#address-cells = <1>;
			#size-cells = <0>;

			mipi1_csi2_output: endpoint@0 {
				reg = <0>;
				remote-endpoint = <&cif_mipi_in1>;
			};
		};
	};
};

&mipi3_csi2 {
	status = "okay";

	ports {
		#address-cells = <1>;
		#size-cells = <0>;

		port@0 {
			reg = <0>;
			#address-cells = <1>;
			#size-cells = <0>;

			mipi3_csi2_input: endpoint@1 {
				reg = <1>;
				remote-endpoint = <&csidphy3_out>;
			};
		};

		port@1 {
			reg = <1>;
			#address-cells = <1>;
			#size-cells = <0>;

			mipi3_csi2_output: endpoint@0 {
				reg = <0>;
				remote-endpoint = <&cif_mipi_in3>;
			};
		};
	};
};

&pinctrl {
	camera1_pwr {
		camera1_pwr: camera1-pwr {
			rockchip,pins =
				/* camera power en */
				<3 RK_PC5 RK_FUNC_GPIO &pcfg_pull_none>;
		};
	};

	camera1_default_pins {
		camera1_default_pins: camera1-default-pins {
			rockchip,pins =
				<3 RK_PC6 RK_FUNC_GPIO &pcfg_pull_up>,
				<3 RK_PC7 RK_FUNC_GPIO &pcfg_pull_up>;
		};
	};

	camera1_sleep_pins {
		camera1_sleep_pins: camera1-sleep-pins {
			rockchip,pins =
				<3 RK_PC6 RK_FUNC_GPIO &pcfg_pull_up>,
				<3 RK_PC7 RK_FUNC_GPIO &pcfg_pull_up>;
		};
	};

	camera2_pwr {
		camera2_pwr: camera2-pwr {
			rockchip,pins =
				/* camera power en */
				<3 RK_PA2 RK_FUNC_GPIO &pcfg_pull_none>;
		};
	};

	camera2_default_pins {
		camera2_default_pins: camera2-default-pins {
			rockchip,pins =
				<3 RK_PD4 RK_FUNC_GPIO &pcfg_pull_up>,
				<3 RK_PD5 RK_FUNC_GPIO &pcfg_pull_up>;
		};
	};

	camera2_sleep_pins {
		camera2_sleep_pins: camera2-sleep-pins {
			rockchip,pins =
				<3 RK_PD4 RK_FUNC_GPIO &pcfg_pull_up>,
				<3 RK_PD5 RK_FUNC_GPIO &pcfg_pull_up>;
		};
	};

	camera3_pwr {
		camera3_pwr: camera3-pwr {
			rockchip,pins =
				/* camera power en */
				<3 RK_PD0 RK_FUNC_GPIO &pcfg_pull_none>;
		};
	};

	camera3_default_pins {
		camera3_default_pins: camera3-default-pins {
			rockchip,pins =
				<3 RK_PD6 RK_FUNC_GPIO &pcfg_pull_up>,
				<3 RK_PD7 RK_FUNC_GPIO &pcfg_pull_up>;
		};
	};

	camera3_sleep_pins {
		camera3_sleep_pins: camera3-sleep-pins {
			rockchip,pins =
				<3 RK_PD6 RK_FUNC_GPIO &pcfg_pull_up>,
				<3 RK_PD7 RK_FUNC_GPIO &pcfg_pull_up>;
		};
	};
};

&rkcif {
	status = "okay";
	rockchip,android-usb-camerahal-enable;
};

&rkcif_mipi_lvds {
	status = "okay";

	port {
		cif_mipi_in0: endpoint {
			remote-endpoint = <&mipi0_csi2_output>;
		};
	};
};

&rkcif_mipi_lvds1 {
	status = "okay";

	port {
		cif_mipi_in1: endpoint {
			remote-endpoint = <&mipi1_csi2_output>;
		};
	};
};

&rkcif_mipi_lvds3 {
	status = "okay";

	port {
		cif_mipi_in3: endpoint {
			remote-endpoint = <&mipi3_csi2_output>;
		};
	};
};

&rkcif_mmu {
	status = "okay";
};
