// SPDX-License-Identifier: (GPL-2.0+ OR MIT)
/*
 * Copyright (c) 2024 MYIR Electronics Co., Ltd.
 *
 */

/ {
	vcc_camera1: vcc-camera1 {
		compatible = "regulator-fixed";
		regulator-name = "vcc_camera1";
		regulator-boot-on;
		regulator-always-on;
		regulator-min-microvolt = <3300000>;
		regulator-max-microvolt = <3300000>;
		enable-active-high;
		gpio = <&gpio3 RK_PC5 GPIO_ACTIVE_HIGH>;
		pinctrl-names = "default";
		pinctrl-0 = <&camera1_pwr>;
		vin-supply = <&vcc_sys>;
	};

	clk_camera1_fixed: clock {
		compatible = "fixed-clock";
		#clock-cells = <0>;
		clock-frequency = <24000000>;
		clock-output-names = "CLK_CAMERA1_24MHZ";
	};
};

&csi2_dcphy0 {
	status = "okay";

	ports {
		#address-cells = <1>;
		#size-cells = <0>;
		port@0 {
			reg = <0>;
			#address-cells = <1>;
			#size-cells = <0>;

			mipi_dcphy0_in0: endpoint@1 {
				reg = <1>;
				remote-endpoint = <&ov13855_out>;
				data-lanes = <1 2 3 4>;
			};
		};
		port@1 {
			reg = <1>;
			#address-cells = <1>;
			#size-cells = <0>;

			csidcphy0_out: endpoint@0 {
				reg = <0>;
				remote-endpoint = <&mipi0_csi2_input>;
			};
		};
	};
};

&csi2_dphy0_hw {
	status = "okay";
};

&csi2_dphy1_hw {
	status = "okay";
};

&i2c5 {
	status = "okay";
	pinctrl-names = "default";
	pinctrl-0 = <&i2c5m3_xfer>;

	ov13855: ov13855@36 {
		status = "okay";
		compatible = "ovti,ov13855";
		reg = <0x36>;
		clocks = <&clk_camera1_fixed>;
		clock-names = "xvclk";
		clock-frequency = <24000000>;
		power-domains = <&power RK3576_PD_VI>;
		reset-gpios = <&gpio3 RK_PC6 GPIO_ACTIVE_HIGH>;
		pwdn-gpios = <&gpio3 RK_PC7 GPIO_ACTIVE_HIGH>;
		rockchip,camera-module-index = <0>;
		rockchip,camera-module-facing = "back";
		rockchip,camera-module-name = "default";
		rockchip,camera-module-lens-name = "default";
		port {
			ov13855_out: endpoint {
				remote-endpoint = <&mipi_dcphy0_in0>;
				data-lanes = <1 2 3 4>;
			};
		};
	};
};

&mipi0_csi2 {
	status = "okay";

	ports {
		#address-cells = <1>;
		#size-cells = <0>;

		port@0 {
			reg = <0>;
			#address-cells = <1>;
			#size-cells = <0>;

			mipi0_csi2_input: endpoint@1 {
				reg = <1>;
				remote-endpoint = <&csidcphy0_out>;
			};
		};

		port@1 {
			reg = <1>;
			#address-cells = <1>;
			#size-cells = <0>;

			mipi0_csi2_output: endpoint@0 {
				reg = <0>;
				remote-endpoint = <&cif_mipi_in0>;
			};
		};
	};
};

&pinctrl {
	camera1_pwr {
		camera1_pwr: camera1-pwr {
			rockchip,pins =
				/* camera power en */
				<3 RK_PC5 RK_FUNC_GPIO &pcfg_pull_none>;
		};
	};

	camera1_default_pins {
		camera1_default_pins: camera1-default-pins {
			rockchip,pins =
				<3 RK_PC6 RK_FUNC_GPIO &pcfg_pull_up>,
				<3 RK_PC7 RK_FUNC_GPIO &pcfg_pull_up>;
		};
	};

	camera1_sleep_pins {
		camera1_sleep_pins: camera1-sleep-pins {
			rockchip,pins =
				<3 RK_PC6 RK_FUNC_GPIO &pcfg_pull_up>,
				<3 RK_PC7 RK_FUNC_GPIO &pcfg_pull_up>;
		};
	};
};

&rkcif {
	status = "okay";
};

&rkcif_mipi_lvds {
	status = "okay";

	port {
		cif_mipi_in0: endpoint {
			remote-endpoint = <&mipi0_csi2_output>;
		};
	};
};

&rkcif_mipi_lvds_sditf {
	status = "okay";

	port {
		mipi_lvds_sditf: endpoint {
			remote-endpoint = <&isp_vir0_in0>;
		};
	};
};

&rkcif_mmu {
	status = "okay";
};

&rkisp {
	status = "okay";
};

&rkisp_mmu {
	status = "okay";
};

&rkisp_vir0 {
	status = "okay";

	port {
		#address-cells = <1>;
		#size-cells = <0>;

		isp_vir0_in0: endpoint@0 {
			reg = <0>;
			remote-endpoint = <&mipi_lvds_sditf>;
		};
	};
};

&rkisp_vir0_sditf {
	status = "okay";
};

&rkvpss {
	status = "okay";
};

&rkvpss_mmu {
	status = "okay";
};

&rkvpss_vir0 {
	status = "okay";
};
